<!DOCTYPE html>
<html class="no-js">
  <head> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link id="defaultIcon1" rel="shortcut icon" href="{{ url_for('web.static', filename='favicon.ico') }}" />
    <title>
      {% block title %}{% endblock %} | {{ _('Sugar Labs') }}
    </title>
 
    <link href="{{ url_for('web.static', filename='css/googleFonts.css') }}" rel="stylesheet" type="text/css" >
    <meta name="robots" content="index,follow,noodp" />
    <meta name="description" Content="At Sugar Labs, we make a collection of tools that learners use to explore, discover, create, and reflect. We are non-profit and led by volunteers. We distribute these tools freely and encourage our users to appropriate them, taking ownership and responsibility for their learning." />
    <meta name="keywords" Content="Sugar Labs, Sugar, Sugarlabs, Education, Opensource, OpenSource, Sugar activities, activities, Sugar OS, Sugarizer, Sugar on Stick, SOAS" />

    <!-- Facebook card -->
    <meta property="fb:admins" content="552694361,100003527081308,100003017988002,100007693992282" />
    <meta property="fb:page_id" content="187845102582" />

    <!-- Twitter card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@sugar_labs" />
    <meta name="twitter:creator" content="@sugar_labs" />
    <meta name="twitter:title" content="Activity Sugar Labs" /> 
    <meta name="twitter:description" content="Sugar Labs is creator of the award-winning Sugar Learning Platform, which promotes collaborative learning through Sugar Activities. You can download your Activities here!" />
    <meta name="twitter:image" content="http://{{ request.headers['HOST'] }}/en/web/static/img/social_display.jpg" />  

    <!-- Open graph -->
    <meta property="og:site_name" content="Activity Sugar Labs" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Activity Sugar Labs" />
    <meta property="og:description" content="Sugar Labs is creator of the award-winning Sugar Learning Platform, which promotes collaborative learning through Sugar Activities. You can download your Activities here!" />
    <meta property="og:image" content="http://{{ request.headers['HOST'] }}/en/web/static/img/social_display.jpg" />

    <!-- CSS files -->
    <link rel="stylesheet" href="{{ url_for('web.static', filename='bootstrap/3.3.7/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('web.static', filename='font-awesome/4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('web.static', filename='mdbootstrap/4.3.2/css/mdb.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('web.static', filename='css/style.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('web.static', filename='css/airspace.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('web.static', filename='animate.css/3.5.2/animate.min.css') }}"/>

    <!-- JS files -->
    <script src="{{ url_for('web.static', filename='jquery/1.12.4/jquery.min.js') }}"></script>
    <script src="{{ url_for('web.static', filename='bootstrap/3.3.7/js/bootstrap.min.js') }}" async></script>
    <script type="text/javascript" src="{{ url_for('web.static', filename='mdbootstrap/4.3.2/js/mdb.min.js') }}"></script> 
 
    <!-- BootStrap Material Design -->
    <script src="{{ url_for('web.static', filename='bootstrap-material-design/4.1.1/js/bootstrap-material-design.min.js') }}" async></script>
  </head>

  <body>
    {% include "partials/nav.html" %}
    <div class="container-fluid" style="padding: 30px; padding-top: 30px;">
      {% block content %}{% endblock %}
    </div>
    <script src="{{ url_for('web.static', filename="js/main.js") }}"></script>
    {% include "partials/footer.html" %} 
  </body>
</html>

