<header class="large">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- header Nav Start -->
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <div id="navh" class="logo1">
              <a href="{{ url_for('web.index')}}"><img src="{{ url_for('web.static', filename='img/logo.svg') }}" ></a>
            </div>
          </div>
          
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1" style="padding-bottom:0px;margin-bottom: 0px;">
            <ul class="nav navbar-nav navbar-right abc">
              <li><a href="{{ url_for('web.index') }}">{{ _('Home') }}</a></li>
              <li><a href="{{ url_for('web.index') }}">{{ _('About') }}</a></li>
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ _('Join Us') }}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="https://wiki.sugarlabs.org/go/Mailing_Lists" style="color:#0099FF"> {{ _('Community Mailing Lists') }}</a></li>
                  <li><a href="#" style="color:#0099FF">{{ _("Developer's Guide") }}</a></li>
                  <li><a href="#" style="color:#0099FF">{{ _('Start a local lab') }}</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header"></li>
                  <li><a href="http://translate.sugarlabs.org" style="color:#0099FF">{{ _('Contribute to Translation') }}</a></li>
                  <li><a href="#" style="color:#0099FF">{{ _('Contribute to Usability') }}</a></li>
                  <li><a href="#" style="color:#0099FF">{{ _('Contribute to Software') }}</a></li>
                  <li><a href="#" style="color:#0099FF">{{ _('Contribute to Central Organisation') }}</a></li>
                  <li><a href="#" style="color:#0099FF">{{ _('Related Projects') }}</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> {{ _('Blog') }}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="http://planet.sugarlabs.org" style="color:#0099FF">{{ _("Blog Archive") }}</a></li>
                </ul>
              </li>
              <li class="navbar-form">
                <form role="search" method="POST" action="{{ url_for('web.search') }}">
                  <div class="form-group">
                    <input type="text" class="form-control" name="name" placeholder="{{ _('Search') }}">
                    <input type="hidden" value="" name="category-option">
                    <input type="hidden" value="" name="category-option-query">
                    <div class="input-group small">
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-md dropdown-toggle orange" data-toggle="dropdown" aria-expanded="false" style="border-radius: 35px;">
                          <i class="fa fa-tag "></i>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" id="category-option">
                          <li value="all"><a href="#"> <i class="fa "> All</i>
                          <li value="programming"><a href="#"> {{ _("programming") }}</a></li>
                          <li value="robotics"><a href="#"> {{ _("robotics") }}</a></li>
                          <li value="internet"><a href="#"> {{ _("internet") }}</a></li>
                          <li value="science"><a href="#"> {{ _("science") }}</a></li>
                          <li value="maths"><a href="#"> {{ _("maths") }}</a></li>
                          <li value="language"><a href="#"> {{ _("language") }}</a></li>
                          <li value="geography"><a href="#"> {{ _("geography") }}</a></li>
                          <li value="documents"><a href="#"> {{ _("documents") }}</a></li>
                          <li value="music"><a href="#"> {{ _("music") }}</a></li>
                          <li value="media"><a href="#"> {{ _("media") }}</a></li>                          
                          <li value="art"><a href="#"> {{ _("art") }}</a></li> 
                          <li value="teacher"><a href="#"> {{ _("teacher") }}</a></li>
                          <li value="system"><a href="#"> {{ _("system") }}</a></li>
                        </ul>
                      </div><!-- /btn-group -->
                    </div>
                  </div>
                  <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                 </form> 
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
  </div>
</div>
</header>
