<!-- Header Start -->
<header class="large">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- header Nav Start -->
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <div id="navh" >
              <a href="/"> <img src="{{ url_for('web.static', filename='img/logo.svg') }}" > </a>
            </div>

            </a>
          </div>
          
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1" style="padding-bottom:0px;margin-bottom: 0px;">
              
                <ul class="nav navbar-nav navbar-right abc">
                 <li class="navbar-form"><form role="search" method="POST" action="/en/search">
            <div class="form-group">
              <input type="text" class="form-control" name="name" placeholder="Search">
            </div>
          <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </form> </li>
              </ul>
          
      

               
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </div>
</header><!-- header close -->
