.temp-fix {       
    padding: 0px;
    margin-right: 100px;
}

a.btn{
    padding-right: 3.5rem;
    padding-left: 3.5rem;
}


.carousel-inner {
  border-radius: 15px;
}

    .carousel {
        background:rgba(0, 0, 0, 0.0); 
        position: relative;
        padding: 10px;     /* Shows as a border around the carousel */
    }



.chip {
    display: inline-flex;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
    text-align: center;
}

.chip img {
    float: left;
    margin: 0 15px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;

}




.clear-left
{
    clear: left;
}


.controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}

/* Spin on hover Fab */
.fa-spin-hover:hover {
  -webkit-animation: fa-spin 2s infinite linear;
  -moz-animation: fa-spin 2s infinite linear;
  -o-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

/* Modify MD-Badge */
.badge 
{
    font-size: 15px;
    line-height: unset;
}

.badge-tag
{
    border-radius: 50px;
}

footer a {
    color: white;
}

.dropdown-menu {
    height: auto;
    max-height: 600px;
    overflow-x: hidden
}

.dropdown-menu  li {
    display: initial;
    }

    /* https://stackoverflow.com/a/33540628/3455743*/
    @media (min-width:1200px){
        .auto-clear .col-lg-1:nth-child(12n+1){clear:left;}
        .auto-clear .col-lg-2:nth-child(6n+1){clear:left;}
        .auto-clear .col-lg-3:nth-child(4n+1){clear:left;}
        .auto-clear .col-lg-4:nth-child(3n+1){clear:left;}
        .auto-clear .col-lg-6:nth-child(odd){clear:left;}
    }
    @media (min-width:992px) and (max-width:1199px){
        .auto-clear .col-md-1:nth-child(12n+1){clear:left;}
        .auto-clear .col-md-2:nth-child(6n+1){clear:left;}
        .auto-clear .col-md-3:nth-child(4n+1){clear:left;}
        .auto-clear .col-md-4:nth-child(3n+1){clear:left;}
        .auto-clear .col-md-6:nth-child(odd){clear:left;}
    }
    @media (min-width:768px) and (max-width:991px){
        .auto-clear .col-sm-1:nth-child(12n+1){clear:left;}
        .auto-clear .col-sm-2:nth-child(6n+1){clear:left;}
        .auto-clear .col-sm-3:nth-child(4n+1){clear:left;}
        .auto-clear .col-sm-4:nth-child(3n+1){clear:left;}
        .auto-clear .col-sm-6:nth-child(odd){clear:left;}
    }
    @media (max-width:767px){
        .auto-clear .col-xs-1:nth-child(12n+1){clear:left;}
        .auto-clear .col-xs-2:nth-child(6n+1){clear:left;}
        .auto-clear .col-xs-3:nth-child(4n+1){clear:left;}
        .auto-clear .col-xs-4:nth-child(3n+1){clear:left;}
        .auto-clear .col-xs-6:nth-child(odd){clear:left;}
    }