<div class="card">
  <h3 class="card-header pink lighten-1 white-text text-center" style="padding: 15px;"><i class="fa fa-superpowers"></i>{{ _('Activity') }}</h3>
  <div class="card-content text-center">
    <h3 class="card-image-headline"> {{ activity.name.get(lang_code, activity.name.get('en', activity.name.get('en_US', _('No Translation') ))) }}</h3>
    <div class="card-image img-responsive">
      <img src="data:{{ activity.icon_type }};base64,{{ activity.icon|b64encode }}" alt="Loading image..." class="center-block"/>
    </div>
    <footer class="card-footer">
      <a class="btn btn-raised btn-md btn-success" href="{{ url_for('web.serve_bundle', bundle_id=activity.bundle_id, bundle_name=current_release.bundle_name) }}"> <i class="fa fa-arrow-down"></i>{{ _('Download') }}</a>
      {% if activity.previous_releases|count != 0 %}
        <div class="btn-group">
            <select data-placeholder="More Releases" class="chosen-select btn btn-sm" tabindex="2" onchange="location = this.value;">
            <option value=""></option>
             {% if release != activity.latest_release %}
                <option value="{{ url_for('web.activity_detail', bundle_id=activity.bundle_id, activity_version=activity.latest_release.activity_version) }}">
                  <a href="{{ url_for('web.activity_detail', bundle_id=activity.bundle_id, activity_version=activity.latest_release.activity_version) }}">
                    {{ activity.latest_release.activity_version }} ({{ _('Latest') }})
                  </a>
                </option>
              {% endif %}
              
              {% for release in activity.previous_releases|reverse %}
              <option value="{{ url_for('web.activity_detail', bundle_id=activity.bundle_id, activity_version=release.activity_version) }}">
                <a href="{{ url_for('web.activity_detail', bundle_id=activity.bundle_id, activity_version=release.activity_version) }}">
                  {{ release.activity_version }}
                </a>
              </option>
            {% endfor %}
          </select>
        </div>
      {% endif %}
      <a href="{{ activity.repository}}" class="btn btn-outline-secondary btn-md waves-effect"> <i class="fa fa-github fa-2x"></i>{{ _('Repo') }}</a>
    </footer>
  </div>  
</div>
