<div class="card hidden-xs hidden-sm">

    <h3 class="card-header info-color lighten-1 white-text text-center" style="padding: 15px;"> <i class="fa fa-users"></i> Developers</h3>

    <!-- Customized from here https://bootsnipp.com/snippets/featured/carousel-product-cart-slider -->
    <div class="card-body">
        <div class="row">

            <div id="carousel-example-generic" class="carousel col-md-12 slide hidden-xs text-center" data-ride="carousel" style="padding: 30px;">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    {% for developer_batch in developers|batch(3) %}
                    <div class="item {% if loop.index == 1 %} {{" active "}} {% endif %}">
                        <div class="row">
                            {% for developer in developer_batch %}
                            <div class="col-sm-4">
                                <div>
                                    <div class="chip">

                                        <img class="img-circle img-responsive" width="48px" height="48px" src="{{ developer.avatar }}+&s=48" alt="icon">
                                        <a href="{{ developer.page }}"> {{ developer.name }} </a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <!-- Controls -->
                    <div class="controls text-center hidden-xs">
                        <a class="left fa fa-chevron-left btn btn-sm btn-primary" href="#carousel-example-generic" data-slide="prev"></a>
                        <a class="right fa fa-chevron-right btn btn-sm btn-primary" href="#carousel-example-generic" data-slide="next"></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>