<!-- Pagination -->
{% if pagination.num_pages > 1 %}
<div class="text-center">
    <ul class="pagination pagination-lg">
        <li {% if not pagination.has_prev %}class="disabled" {% endif %}>
            <a href="{{ url_for('web.index') }}page/{{ pagination.prev_page }}">&laquo;</a>
        </li>

        {% for i in range(1, pagination.num_pages + 1) %}
        <li {% if pagination.page==i %}class="active" {% endif %}>
            <a href="{{ url_for('web.index') }}page/{{ i }}">{{ i }}</a>
        </li>
        {% endfor %}
        <li {% if not pagination.has_next %}class="disabled" {% endif %}>
            <a href="{{ url_for('web.index') }}page/{{ pagination.next_page }}">&raquo;</a>
        </li>
    </ul>
</div>
{% endif %}
<!-- End Pagination -->