<!-- Pagination -->
{% if pagination.num_pages > 1 %}
<nav class="text-center">
  <ul class="pagination pagination-lg pagination-circle pg-blue mb-0">
    {% if not pagination.has_prev %}
      <li class="page-item disabled" ><a>&laquo;</a></li>
    {% else %}
      <li class="page-item">
        {% if search_query %}
          <a class="page-link" href="
            {% if ignore_lang %} 
              {{ url_for('web.search', name=[search_query], page=pagination.prev_page, ignore_lang=true) }}
            {% else %}
              {{ url_for('web.search', name=[search_query], page=pagination.prev_page) }}
            {% endif %}">&laquo;
          </a>
        {% elif category_query %}
            <a class="page-link" href="
             {% if ignore_lang %} 
               {{ url_for('web.categories', category_name=category_query, page=pagination.prev_page, ignore_lang=true) }}
             {% else %}
               {{ url_for('web.categories', category_name=category_query, page=pagination.prev_page) }}
             {% endif %}">&laquo;
            </a> 
        {% else %}
          <a class="page-link" href="
            {% if ignore_lang %}
              {{ url_for('web.index', page=pagination.prev_page, ignore_lang=true) }}
            {% else %}
              {{ url_for('web.index', page=pagination.prev_page) }}
            {% endif %}">&laquo;
          </a>
        {% endif %}
      </li>
    {% endif %}

    {% for i in range(1, pagination.num_pages + 1) %}
      <li {% if pagination.page == i %} class="page-item active" {% else %} class="page-item" {% endif %}>
        {% if search_query %}
          <a href="
            {% if ignore_lang %}
              {{ url_for('web.search', name=[search_query], page=i, ignore_lang=true) }}
            {% else %}
              {{ url_for('web.search', name=[search_query], page=i) }}
            {% endif %}">{{ i }}
          </a>
         {% elif category_query %}
            <a class="page-link" href="
            {% if ignore_lang %} 
              {{ url_for('web.categories', category_name=category_query, page=pagination.prev_page, ignore_lang=true) }}
            {% else %}
              {{ url_for('web.categories', category_name=category_query, page=pagination.prev_page) }}
            {% endif %}">&laquo;
           </a> 
        {% else %}
          <a class="page-link" href="
            {% if ignore_lang %}
              {{ url_for('web.index', page=i, ignore_lang=true) }}
            {% else %}
              {{ url_for('web.index', page=i) }}
            {% endif %}">{{ i }}
          </a>
        {% endif %}
      </li>
    {% endfor %}
    
    {% if not pagination.has_next %}
      <li class="page-item disabled" ><a class="page-link">&raquo;</a></li>
    {% else %}
      <li class="page-item">
        {% if search_query %}
          <a class="page-link" href="
            {%if ignore_lang %}
              {{ url_for('web.search', name=[search_query], page=pagination.next_page, ignore_lang=true) }}
            {% else %}
              {{ url_for('web.search', name=[search_query], page=pagination.next_page) }}
            {% endif %}">&raquo;
          </a>
        {% elif category_query %}
          <a class="page-link" href="
            {% if ignore_lang %} 
              {{ url_for('web.categories', category_name=category_query, page=pagination.prev_page, ignore_lang=true) }}
            {% else %}
              {{ url_for('web.categories', category_name=category_query, page=pagination.prev_page) }}
            {% endif %}">&laquo;
          </a> 
        {% else %}
          <a class="page-link" href="
            {% if ignore_lang %}
              {{ url_for('web.index', page=pagination.next_page, ignore_lang=true) }}
            {% else %}
              {{ url_for('web.index', page=pagination.next_page) }}
            {% endif %}">&raquo;
          </a>
        {% endif %}
      </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
<!-- End Pagination -->
